@use "../../assets/sass/variables" as *;


.home {
  background-image: url("../../assets/images/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50%;
  height: 100vh;
  background-size: cover;

}