$blue: rgb(88, 40, 199);

.nav-menu {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  position: fixed;

  > * {
    text-decoration: none;
    font-size: 18px;
    margin: 10px 0;
    color: black;
  }
  &__item{
    background-color: transparent;
  }
}